<div class="hstack justify-content-between mb-20">
  <h3 class="headline flex m-0">
      Summary
  </h3>
  <gt-button customClasses="btn--no-style btn--sm btn-more-js">
    <gt-icon
      [icon]="GT_ICONS_BASIC.MORE"
      [size]="30"
      [fillColor]="IconColorEnum.DEFAULT"/>
  </gt-button>
</div>
<!-- TODO - należałoby zamienić tą listę na pętlę po configu -->
<ul class="summary list">
  <li class="summary__item">
    <gt-icon
            [icon]="GT_ICONS_BASIC.TARGET_WITH_ARROW"
            [size]="30"
            [fillColor]="'#51e2ae'"/>
      <i class="summary__icon summary__icon--goals"></i>
      <p class="summary__number" *ngIf="this.allGoals; else emptyParagraph">
          <span style="display: block;" class="subhead">
              <!-- {{ this.allGoals.length }} -->
          </span>
          <span class="smaller">
              Goals
          </span>
      </p>
      <ng-template #emptyParagraph>
        <p class="summary__number">
          <span style="display: block;" class="subhead">
            ?
        </span>
        <span class="smaller">
            Goals
        </span>
        </p>
      </ng-template>
      <div class="summary__right">
          <p class="summary__txt font-additional">
              3 completed
          </p>
          <a href="#" class="summary__more">
            <gt-icon
              [icon]="GT_ICONS_BASIC.ARROW_RIGHT"
              [size]="14"
              [strokeColor]="'#1A1926'"/>
          </a>
      </div>
  </li>
  <li class="summary__item">
    <gt-icon
        [icon]="GT_ICONS_BASIC.TASK"
        [size]="30"
        [fillColor]="'#a7b8ff'"/>
      <i class="summary__icon summary__icon--tasks"></i>
      <p class="summary__number" *ngIf="this.allTasks; else emptyParagraph">
          <span style="display: block;" class="subhead">
              <!-- {{ this.allTasks.length }} -->
          </span>
          <span class="smaller">
              Tasks
          </span>
      </p>
      <ng-template #emptyParagraph>
        <p class="summary__number">
          <span style="display: block;" class="subhead">
            ?
        </span>
        <span class="smaller">
            Goals
        </span>
        </p>
      </ng-template>
      <div class="summary__right">
          <p class="summary__txt font-additional">
              6 subtasks
          </p>
          <a href="#" class="summary__more">
            <gt-icon
              [icon]="GT_ICONS_BASIC.ARROW_RIGHT"
              [size]="14"
              [strokeColor]="'#1A1926'"/>
          </a>
      </div>
  </li>
  <li class="summary__item">
    <gt-icon
    [icon]="GT_ICONS_BASIC.LOOP"
    [size]="30"
    [fillColor]="'#ffa38f'"/>
      <p class="summary__number">
          <span style="display: block;" class="subhead">
              ?
          </span>
          <span class="smaller">
              Habits
          </span>
      </p>
      <div class="summary__right">
          <p class="summary__txt font-additional">
              2 new habits
          </p>
          <a href="#" class="summary__more">
            <gt-icon
              [icon]="GT_ICONS_BASIC.ARROW_RIGHT"
              [size]="14"
              [strokeColor]="'#1A1926'"/>
          </a>
      </div>
  </li>
</ul>
