<div class="hstack justify-content-between mb-20">
  <h3 class="headline flex m-0">
      Summary
  </h3>
  <gt-button customClasses="btn--no-style btn--sm btn-more-js">
    <gt-icon
      [icon]="GT_ICONS_BASIC.MORE"
      [size]="30"
      [fillColor]="IconColorEnum.DEFAULT"/>
  </gt-button>
</div>
<ul class="summary list">
  @for (item of summaryWidgetConfig; track item) {
    <li class="summary__item">
      <gt-icon
              [icon]="item.iconName"
              [size]="30"
              [fillColor]="item.iconColor"/>
        <p class="summary__number">
            <span style="display: block;" class="subhead">
                <!-- {{ this.allGoals.length }} -->
            </span>
            <span class="smaller">
                {{ item.itemName }}
            </span>
        </p>
        <ng-template #emptyParagraph>
          <p class="summary__number">
            <span style="display: block;" class="subhead">
              ?
          </span>
          <span class="smaller">
              {{ item.additionalText }}
          </span>
          </p>
        </ng-template>
        <div class="summary__right">
            <p class="summary__txt font-additional">
                3 {{ item.additionalText }}
            </p>
            <a href="#" class="summary__more">
              <gt-icon
                [icon]="GT_ICONS_BASIC.ARROW_RIGHT"
                [size]="14"
                [strokeColor]="item.arrowRightColor"/>
            </a>
        </div>
    </li>
  }
</ul>
