<section class="header">
  <div class="header__left">
    <button class="user user--mobile"></button>
    <h2 class="title title--main">
      Good morning, {{ this.welcomeName() }} <br>
      <span class="smaller">
          Welcome back, nice to see you again!
      </span>
    </h2>
  </div>
  <div class="header__right">
    <div class="flex center-all">
        <!-- <gt-search-input></gt-search-input> -->
    </div>
    <div class="flex center-all justify-end">
      <gt-theme-toggler />
    </div>
    <div class="flex center-all">
        <gt-icon
          [icon]="GT_ICONS_BASIC.INFO"
          [size]="24"
          [fillColor]="IconColorEnum.DEFAULT"
          (click)="handleInfoPopup()" />
    </div>
    <div class="flex center-all user--desktop">
        <gt-user />
        <gt-header-dropdown/>
    </div>
  </div>
</section>

