<ul class="menu list">
  @for(menuItem of menuConfig; track menuItem) {
    <li class="menu__item">
        <a class="menu__link" [routerLink]="menuItem.routerLink">
            <gt-icon
              [icon]="menuItem.icon"
              [size]="24"
              [fillColor]="iconFillTypeEnum.FILL ? IconColorEnum.DEFAULT : ''"
              [strokeColor]="iconFillTypeEnum.STROKE ? IconColorEnum.DEFAULT : ''"/>
            <span>{{ menuItem.name }} </span>
        </a>
    </li>
  }
</ul>
