<div class="header-dropdown">
  <ul class="header-dropdown-list list">
    <li class="header-dropdown__item">
      <a class="header-dropdown__link" routerLink="/settings">
        <i class="icon icon--settings"></i>
        <span>Settings</span>
      </a>
    </li>
    <li class="header-dropdown__item">
      <a class="header-dropdown__link" routerLink="/sign-in" (click)="logout()">
        <i class="icon icon--logout"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
