<section class="dashboard">
  <section class="dashboard__top">
    <gt-widget [dashboardWidgetType]="DashboardWidgetTypeEnum.SUMMARY">
      <gt-widget-summary />
    </gt-widget>
    <gt-widget [dashboardWidgetType]="DashboardWidgetTypeEnum.BALANCE_OF_GOALS">
      <gt-widget-balance-of-goals />
    </gt-widget>
    <gt-widget [dashboardWidgetType]="DashboardWidgetTypeEnum.MINI_CALENDAR">
      <gt-widget-mini-calendar />
    </gt-widget>
  </section>

  <section class="dashboard__bottom">
    <gt-widget [dashboardWidgetType]="DashboardWidgetTypeEnum.PROGRESS_TOWARDS_THE_GOAL">
      <gt-widget-progress-towards-the-goal />
    </gt-widget>
    <gt-widget [dashboardWidgetType]="DashboardWidgetTypeEnum.MY_ACTIVITY">
      <gt-widget-my-activity />
    </gt-widget>
    <gt-widget [dashboardWidgetType]="DashboardWidgetTypeEnum.HEALTH_AND_SPORTS">
      <gt-widget-health-and-sports />
    </gt-widget>

  </section>
</section>
