@import 'mq';


.balance-of-goals {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  @include mobile {
      display: block;
      text-align: center;
  }
  @include desktop-sm {
      padding: 0;
  }
  @include desktop-md {
      padding: 0;
  }
}


